{
  "project_info": {
    "project_number": "84067876868",
    "project_id": "arrowadventuredb",
    "storage_bucket": "arrowadventuredb.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:84067876868:android:5b0ebcbda56d079e27f551",
        "android_client_info": {
          "package_name": "com.example.arrowadventureapp"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyA0Tf7i1A62YWIoML-4iJM0xU-7LpLSTvQ"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}